@font-face {
    font-family: 'ralewayextrabold';
    src: url('webfontkit-20201026-152857/raleway-extrabold-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextrabold_italic';
    src: url('webfontkit-20201026-152857/raleway-extrabolditalic-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextralight';
    src: url('webfontkit-20201026-152857/raleway-extralight-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextralight_italic';
    src: url('webfontkit-20201026-152857/raleway-extralightitalic-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('webfontkit-20201026-152857/raleway-semibold-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaymedium';
    src: url('webfontkit-20201026-152857/raleway-medium-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaybold';
    src: url('webfontkit-20201026-152857/raleway-bold-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayblack';
    src: url('webfontkit-20201026-152857/raleway-black-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaysemibold_italic';
    src: url('webfontkit-20201026-152857/raleway-semibolditalic-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaythin';
    src: url('webfontkit-20201026-152857/raleway-thin-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaythin_italic';
    src: url('webfontkit-20201026-152857/raleway-thinitalic-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}









#bloc_page
{
  width: 1324px;
  margin: 0 auto;
  background-color:;
  padding-left: 40px;
  padding-right: 40px;


   
   

}

body
{
  margin: 0;
  
}


header
{
display: flex;
width:auto;
background-color:;

}

#logo
{
  font-size: 1.5em;
  background-color:;
  width: 100%;

}

img
{
  width: 4em;
  height: 80px;
}
.Menu
{
  display: flex;
  justify-content:space-between;
  background-color:;
  width: 100%;
 
}
.Menu img
{
  width: 120px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: ;
}
.Menu nav
{
  
  justify-content:flex-end; 
  background-color:;
  width: auto;
}

/*     */
h2
{
font-size: 20px;
font-family:ralewayextrabold;
}
h3
{
  font-family:ralewayextralight;
  font-size:15px;
}

form
{
  
  background-color: ;
  display: flex;

}


.map i
{
  color: black;
  margin-right: 10px;
  padding: 0px;
  font-size:13px;   
}

label
{ 

    
    border-top: 2px solid #F2F2F2 ;
    border-left:2px solid #F2F2F2;
    border-bottom:2px solid #F2F2F2;
    padding:3px 0px 7px 14px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2; 
    margin: 0px 0px 0px 0px; 
   
   
   

}


.bouton
{
  border-radius:0px 10px 10px 0px; 
  border:0px solid #0065FC;
  height:33px;
  color: white;
  background-color: #0065FC;
  font-family: ralewayextrabold;
  font-size: 13px;
  margin: 18px 0px 0px 0px;   
  width: 100px;
}


input
{
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  border-left: 1px solid #F2F2F2;
  border-right: 0px solid #0065FC;
  height:30px;
  font-family: ralewayextrabold;
  color:black;
  width: 130px; 
  padding-left: 12px;
  font-size: 12px;
  
}


ul i /*filtres Economique Romantique Animeaux autorisés*/
{
 border: 2px solid #DEEBFF;
 border-radius: 40px;
 padding: 13px 13px 13px 13px;
 font-size: 13.6px;
 background-color: #DEEBFF;
 margin:0px 10px 0px 0px;
}

li em :hover
{
 font-style: italic;
 color: red; 
}

.filtres li  :hover
{
 font-style: italic;
 color: #0065FC; 
}

.filtres
{
  background-color:;
  width:70%; 
}

.filtres span
{  
  font-family:ralewayextrabold;
   margin-top: 12px;
  font-size: 17px;
}

.filtres em
{  
  border-top:2px solid #F2F2F2;
  border-right:2px solid #F2F2F2;
  border-bottom:2px solid #F2F2F2;
  border-radius: 25px;
  padding-top:10px ;
  padding-right: 10px ;
  padding-bottom: 10px ;
  font-size: 17px;
  font-style: normal;
  
  font-family:ralewayextrabold;
  background-color:;

}

.filtres ul
{
 display: flex;
 justify-content:space-between;
 list-style-type: none;
 flex-wrap:wrap;



}

.filtres li
{



}

nav
{
display: flex;
}

nav ul
{
 list-style-type: none;
 display: flex;
 width: 400px;
 height:70px;
 justify-content:flex-end; 
 font-family: ralewayextralight ;
 margin: 0px 0px; 

  

}

nav li 
{
  margin-left: 30px;


  
}

nav span
{
  color:#0065FC; 

}

nav .SS
{
  color:#0065FC; 
  font-family:ralewayextrabold;
}

header li strong i /*Filtres :familial*/
{

    border: 2px solid #DEEBFF;
  border-radius:25px;
  padding: 13px 15px 12px 15px;
  
}

header li strong  /*Filtres :familial*/
{
    border-top:2px solid #F2F2F2;
  border-right:2px solid #F2F2F2;
  border-bottom:2px solid #F2F2F2;
  border-radius: 25px;
  padding: 10px 10px 10px 0px;
  font-size: 17px;
  font-style: normal;
  font-family:ralewayextrabold;
}
/*li mark i  /*Filtres :Economique
{
    border-radius: 25px;
  padding: 13px 10px 11px 10px;
  font-size: 13px;
}
/*li mark /*Filtres :Economique
{
 border-top: 1.5px solid #F2F2F2;
  border-right:1.5px solid #F2F2F2;
  border-bottom:1.5px solid #F2F2F2; 
  border-radius: 25px;
  padding:10px 10px 9px 10px; 
  font-size: 16px;
  font-style: normal;
  background-color: white;
  margin:0px 7px 0px 45px;
  font-family:ralewayextrabold;
}
*/

nav a
{
  font-size: 15px;
  color: #181818;
  text-decoration: none;
  background: ;
  justify-content:space-between;
  
  margin-top: 35px;
  padding: 10px;

}

nav ul:hover 
{
  border-top: 3px solid white;
}
.bleu
{
  border-top: 3px solid #0065FC;
  text-align: center;
}



header p
{
  font-size: 17px;
  font-family: ralewayextralight;

  

}
header i 
{
  color:#0065FC;

}
.info
{
  background-color: ;
  display: flex;
  height: 30px;
}
.info p
{
  margin-top: 2px;
  margin-left: 5px;
}
.info i
{
  border:1px solid #F2F2F2;
  border-radius: 25px;
  margin: 0px 5px 5px 5px;
  padding:6px 9px 6px 9px;
  font-size: 10px;
  background-color: white;

}


/*Section de page*/
.hebergement
{
display: flex;
background-color:;
justify-content:space-between;
flex-wrap:wrap;
background-color: red;




}
.GAUCHE h2
{
 margin: 40px 0px 0px 38px;
 
 font-family: ralewayextrabold;
 font-size: 1.4em;
}
.GAUCHE
{
  background-color: #F2F2F2;
  width: 65%;
  height: auto;
  border:2px solid #F2F2F2;
  border-radius:25px; 
  margin: 32px 0px 0px 0px;
  
  
}
.conteneur1 img
{

  width: 227px;
  height:100px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;

  
  
 }
 .conteneur1 em
 {
  font-family: ralewayextralight;
  font-style: normal;
  font-size: 13px;
 }
.conteneur1 strong
{
font-family: ralewayextrabold;

}


.conteneur1
{
  display: flex;
  text-align: center;
background-color: ;
  margin: auto;
  padding:auto;
  justify-content:space-between;
  
  flex-wrap:wrap;
  

    
}

.conteneur1 figure
{
  border: 2px solid white;
  border-radius: 10px 10px 10px 10px ;
  margin: 40px 20px 0px 15px;
  padding: 5px 5px 5px 5px;
  background-color: white;  
  box-shadow: 1px 4px 10px grey;
  font-family:ralewaysemibold;


}
.texte3 span
{
 
 margin: 400px 0px 0px 70px;
 font-family: ralewayextrabold;
 font-size: 1em;
}
.rangée1, .rangée2, .rangée3
{
  background-color:;
  margin: auto;


  
  
}




.chambre1, .chambre2, .chambre3, .chambre4, .chambre5, .chambre6
{
    text-align: left;

    

}


.GAUCHE i
{
  color: #0065FC;
  font-size: 13px;
  margin-top: 5px;
}

span i
{
  color: #F2F2F2;
  font-size: 13px;
  margin-top: 5px;
}

/*photo sur le coté*/
.DROITE
{
  display: flex;
  flex-direction:column;
    width: auto;
    height: 600px;
    background-color: #F2F2F2 ;
    border-radius: 25px;
    margin-left: 0px; 
    margin-top: 32px;

}

.DROITE img

{
  width: 120px;
    height: 120px;
    padding-bottom:0px;
    margin-bottom: 0px;
    
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
    background-color:;


}

.DROITE p

{
 font-size: 1.4em;
 
}
.DROITE strong
{
font-family: ralewayextrabold;
}
.DROITE h2

{
 margin: 40px 40px 0px 40px;
 
 font-family: ralewayextrabold;
 font-size: 1.4em;
 background-color:;
}
.DROITE h2 i
{
margin-left:75px;
color: black;
font-size: 25px;
font-family: 
}

.rangée1bis

{
margin-top: 42px;
margin-bottom:40px; 


}
.rangée1bis em
{
  font-family:"ralewayextralight";
  font-style:normal;
}

.coté1, .coté2, .coté3
{
display: flex;
width:330px;
height: 120px;
box-shadow: 1px 4px 10px grey;
padding: 3px;
border: 2px solid white;
box-shadow: ;
border-radius: 10px 10px 10px 10px; 
margin: 0px 40px 30px 40px;
background-color:;

} 

.coté1 p, .coté2 p, .coté3 p
{
  font-size: 15px;
  text-align: left;
  margin-left: 15px;
  background-color:;

}

.coté1 em, .coté2 em, .coté3 em
{
  font-size: 12px;
}

.coté1 i, .coté2 i, .coté3 i
{
  margin-top:0px;
  text-align: left ;
  font-size: 10px;
  color: #0065FC ;
} 
p [alt="star"]
{
  color: #F2F2F2;

}
/*Section activité*/

.activité
{
background-color: ;
border:2px solid white;

width:auto;
height:auto;
display: flex;
flex-direction:column;

}
.texte 
{
 margin: 60px 0px 0px 0px;
 font-family: ralewayextrabold;
 font-size: 1.4em;
 
}
.Marseille figure
{
  border: 0px solid white;
  border-radius: 10px 10px 10px 10px ;
  margin: 30px 0px 45px 0px;
  padding: 0px 0px 0px 0px;
  background-color: white;  
  box-shadow: 1px 4px 10px grey;
  width: 300px;
}
.Photo_Marseille1, .Photo_Marseille2, .Photo_Marseille3, .Photo_Marseille4
{
  background-color: ;
  width: auto;
  margin: auto;
  padding:auto;
}


.Marseille
{
display:flex;
flex-wrap:wrap;
justify-content:space-between;

}

.activité img
{
 width: 300px;
 height: 340px;
 border-radius: 8px 8px 0px 0px ;
 object-fit: cover;

}
.Pomegues img
{
  width: 300px;
    height:147px;
}
.Frioul img
{
width: 300px;
height:95px;
}
.NDG img
{
    width: 300px;
    height:110px;
}
.Longchamps img
{
    width: 300px;
    height:132.5px;
}

.Marseille p
{
padding: 0px 10px 10px 10px;
font-family: ralewayextrabold;
}
/*Footer*/
footer
{
  width: auto;
  height:auto;
  background-color: #F2F2F2;
  
  margin:20px 0px 0px 0px;
  padding-left: 0px;
  

  
}
.fin
{
  display:flex;
  margin-left: 0px;
  width: 75%;
  justify-content:space-between;
  background-color: ;
  


}

.colonne1, .colonne2, .colonne3
{
  justify-content:flex-start; 
  background-color:;
  width: auto;
}

.colonne1 ul, .colonne2 ul, .colonne3 ul
{
  text-align: left;
  
} 
.colonne1 li, .colonne2 li, .colonne3 li
{
list-style-type:none;

font-size: 15px;
font-family: ralewayextralight;
padding-top:5px;
margin-top:5px;
background-color: ;


}
.colonne1 li strong, .colonne2 li strong, .colonne3 li strong
{
font-size: 17px;
font-family: ralewayextrabold;


}
.fin ul :hover
{
color:blue;
}

/*Lien-Cliquable*/  
a
{
  color: black;
  text-decoration: none;
}









/** 
@media screen and (max-width: 375px)
{
   Rédigez vos propriétés CSS ici
    #bloc_page
{
    width: 100%;
    padding:0px 20px 0px 70px;
    margin: 0 auto;
}

body
{
    width: auto;
    margin: 0px;
  margin: 0 auto;
  
}

      @bloc_page
      {
        display: flex;
        height: 4900px;
        
 
      }
      header h2
      {
        background-color: yellow;
        width: 55%;          
      }
      .Menu nav
      {

      }
      nav
      {
        display: flex;
        flex-direction:column;
      }
      .bouton
      {
        top:187px;
      }
      .filtres span
      {
        left: 70px;
      }
      .filtres ul
      { 
        width:90%;
        height: 200px;
        font-size: 40px;
        display: flex;
        flex-direction:;
        background-color: green;
        padding-left: 0px;
        margin-left: 0px;


      }

       .filtres li
      {
        background-color: blue;
        font-size: 3px;
        width:200px ;
        height: 100px;

        margin-right: 40px;
        margin-bottom:10px;
        padding-left: 0px;
      }
       .filtres em
      {
        margin: 0px;
      }
      header li strong  
      {
        margin: 0px;
      }

      .info
      {
        
        width: 350px;
        

      }
      .info i
      {
        margin-right: 10px;
      }


      nav
      {
        display:block;
        float: left;
        background-color:yellow;
      }
      section
      {
        flex-direction:column;
        margin-top: 50px;
      }

      .GAUCHE:nth-child(1)

      {
        height: 1500px;
        background-color: white;
        border:1px solid white;
        width:500px;
        flex-direction:column;
        order:2;
        

      }
      .texte 
      {
        margin: 0px;
      }
      .conteneur1 
      {
        display: flex;
        flex-direction:column;
        width: 305px;
        margin: 0px;
    
        background-color: ;
      }
      .conteneur1 img
      {
        width: 275px;
        


      }
      .conteneur1 figure
      {
        margin-left: 0px;
        padding: 3px;
      }
      .texte3
      {
        top: 2060px;
        left: 30px;
      }
      .DROITE:nth-child(2)
      {
      margin-top: 0px;
      margin-left:0px;
      order:1;
      background-color: white;
      }
      .rangée1bis 
      {

      }
      .texte2
      {
        width: 400px;
        margin: 0px 0px 20px 0px;
      }
      .coté1, .coté2, .coté3
      {
      height: 140px;
      margin: 10px 0px;
      }
      .coté1 img, .coté2 img, .coté3 img
      {
        width: 120px;
        height: 130px;
      }

      .activité
      {
       width: 343px;
       margin-top: 2000px
      }

      .Marseille
      {
        display: flex;
        flex-direction:column;
        margin: 0px;
      }

      .Marseille img
      {
        width: 300px;
        height: 140px;
      }
      .Photo_Marseille1
      {   
        margin-bottom: 0px;
        
      }
      .Photo_Marseille2 .Pomegues, .Photo_Marseille3 .PNC, .Photo_Marseille4 .NDG  
      {
        margin-top: 0px;
      }
     

     footer
     {
      margin-top: 8000px;
     }
     .fin
     {
      display: flex;
      flex-direction:column;
     }







}
**/
 

 @media screen and (min-width: 899px) and (max-width: 900px) 
{
    #bloc_page
    {
    width: 900px;
    margin: 0 auto;
    padding: 2px;

    }
#logo
{
  width: 900px
}

body
{
    margin: 0px;
    width: 900px

}
     .Menu img
     {
     
     }
    .Menu nav
      {
        justify-content:flex-start;
        margin-left: 320px;
      }
        header h2
    {
      width:700px;
    }
    .filtres 
    {
      width: 800px;
    }
    .filtres em
    {
      margin:0px 0px 0px 10px;
    }
    .filtres ul
    {
        padding: 0px 0px 0px 5px; 
    }
    header li strong
    {
      margin:0px 0px 0px 10px;
    }
    .info
    {
      margin-top:0px; 
    }
    .hebergement
    {
      flex-direction:column;
      
    }
    .GAUCHE:nth-child(1)
    {
      margin: 10px 0px 0px 0px;
      width: 892px;
      height: 548px;
      flex-direction:column;
      order:2;
    }
    .conteneur1
    {
      margin-left:10px;
    }
    .texte3 span
    {
      margin-top: 690px;
    }
    .DROITE:nth-child(2)
    {
     
    
     background-color: ;
     height:300px;
     width:896px;
     margin: 20px 0px 0px 0px;
     
     
     order:1;

    }
    .texte2
    {
     margin-top: 10px;
     margin-left: 32px;
    }
    .texte3
    {
      top:520px;
    }
   
    .rangée1bis
    {
      display: flex;
      margin-left: 0px;
      
      
    }
    .rangée1bis img
    {
      height: 120px

    }

    
    
    .coté1
    {
      margin:0px 0px 0px 0px; 
      width:290px;
      height: 125px;
      padding: 3px;
    }
    .coté2
    {
      margin:0px 3px 0px 3px; 
      width:320px;
      height: 125px;
      padding: 3px
    }
    .coté3
    {
      margin:0px 0px 0px 0px; 
      width: 270px;
      height: 125px;
      padding: 3px;
      text-align: 
    }
    .coté1 i
    {
       margin: 0px 0px 0px 0px;
    }
     .coté2 i
     {
       margin: 0px 0px 0px 0px;
     }
    .coté3 i
    {
    margin: 0px 0px 0px 0px;
    }
    .coté1 p
    {

    }
    p [alt="star"]
    {
    color: #F2F2F2;
    margin-top: 0px;
    }


    .activité h2
    {
      margin-left:31px;
      width: 400px;

    }
    .activité
    {

      margin-top: 0px;
      width: auto;
      height: auto;  
      background-color: ;

    }
    .activité img
    {
        width: 182px;
        height: 140px;
    }
    .Frioul img
    {
      width: 182px;
      height: 160px;
    }
    .Longchamps img
    {
       width: 182px;
      height: 160px;
    }
    .PNC img
    {
       width: 182px;
        height: 122px;
    }
    .NDG img
    {
       width: 182px;
        height: 122px;
    }
    .Marseille figure
    {
    width:182px;
    
    }
    .Marseille
    {
      display: flex;
      margin-left:0px;
      
    }
    footer
    {
      margin-top: 0px;
      width: 900px;
    }
     .colonne1, .colonne2, .colonne3      
    {
      
    }
  }


@media screen and (max-width: 1524px)   
 {
    
   #bloc_page
{
  width: auto;
  margin: 0 auto;
  background-color:;
  padding-left: auto;
  padding-right: auto;
}
header
{
}
.Menu
{
  
}
.Menu nav
{ 
 

}









{

}












}
    
