@font-face {
    font-family: 'ralewayextrabold';
    src: url('webfontkit-20201026-152857/raleway-extrabold-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextrabold_italic';
    src: url('webfontkit-20201026-152857/raleway-extrabolditalic-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextralight';
    src: url('webfontkit-20201026-152857/raleway-extralight-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextralight_italic';
    src: url('webfontkit-20201026-152857/raleway-extralightitalic-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('webfontkit-20201026-152857/raleway-semibold-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaymedium';
    src: url('webfontkit-20201026-152857/raleway-medium-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaybold';
    src: url('webfontkit-20201026-152857/raleway-bold-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayblack';
    src: url('webfontkit-20201026-152857/raleway-black-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaysemibold_italic';
    src: url('webfontkit-20201026-152857/raleway-semibolditalic-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaythin';
    src: url('webfontkit-20201026-152857/raleway-thin-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaythin_italic';
    src: url('webfontkit-20201026-152857/raleway-thinitalic-webfont.woff2') format('woff2'),
         url('webfontkit-20201026-152857/raleway-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




#bloc_page
{
  max-width: 1354px;
  margin: 0 auto;
  padding-left:3%;
  padding-right:3%;
}

body
{
  margin: 0;
}

header
{
display: flex;
width:auto;
}

#logo
{
  font-size: 1.5em;
  width: 100%;
}

img
{
  width: 4em;
  height: 80px;
}

.Menu
{
  display: flex;
  justify-content:space-between;
  flex-wrap:wrap;
  width: 100%;
}

.Menu2
{
  display:none;
}

.Menu img
{
  width: 120px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.Menu nav
{
  
  justify-content:flex-end; 
  width: 350px;
  flex-wrap:wrap;
}

.Menu nav ul
{

}

/*     */
h2
{
font-size: 20px;
font-family:ralewayextrabold;
}
h3
{
  font-family:ralewayextralight;
  font-size:15px;
}

form
{
display: flex;
width: auto;
}


.map i
{
  color: black;
  margin-right: 10px;
  padding: 0px;
  font-size:13px;   
}

label
{ 
    border-top: 2px solid #F2F2F2 ;
    border-left:2px solid #F2F2F2;
    border-bottom:2px solid #F2F2F2;
    padding:3px 0px 7px 14px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2; 
    margin: 0px 0px 0px 0px; 
}

.bouton
{
  border-radius:0px 10px 10px 0px; 
  border:0px solid #0065FC;
  height:33px;
  color: white;
  background-color: #0065FC;
  font-family: ralewayextrabold;
  font-size: 11px;
  margin: 18px 0px 0px 0px; 
  padding: 0px;  
  width: 80px;
}


input
{
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  border-left: 1px solid #F2F2F2;
  border-right: 0px solid #0065FC;
  height:30px;
  font-family: ralewayextrabold;
  color:black;
  width: 120px; 
  padding-left: 12px;
  font-size: 12px; 
}

form span 
{
background-color: #0065FC;
border-radius: 10px 10px 10px 10px;
width: 35px;
height: 35px;
margin-top: 17px;
visibility:hidden;
}

form span i
{
  font-size: 15px;
  margin-left: 10px;
  margin-top:10px;
  color: white;
}


ul i /*filtres Economique Romantique Animeaux autorisés*/
{
 border: 2px solid #DEEBFF;
 border-radius: 40px;
 padding: 13px 13px 13px 13px;
 font-size: 13.6px;
 background-color: #DEEBFF;
 margin:0px 10px 0px 0px;
}

li em :hover
{
 font-style: italic;
 color: red; 
}

.filtres li  :hover
{
 font-style: italic;
 color: #0065FC; 
}

.filtres
{
  width:70%; 
}

.F
{
  padding-top:5px;
  width:60px;
}

.F span:hover
{ 
font-style: normal;
 color:black; 
}

.filtres span
{  
  font-family:ralewayextrabold;
   margin-top: 0px;
  font-size: 18px;  
}

.filtres em
{  
  border-top:2px solid #F2F2F2;
  border-right:2px solid #F2F2F2;
  border-bottom:2px solid #F2F2F2;
  border-radius: 25px;
  padding-top:10px ;
  padding-right: 10px ;
  padding-bottom: 10px ;
  font-size: 17px;
  font-style: normal;
  width: 400px;
  font-family:ralewayextrabold;
}

.filtres ul
{
 display: flex;
 justify-content:space-between;
 list-style-type: none;
 flex-wrap:wrap;
 padding-left: 0px;
}

.filtres li
{
height: 55px;
}

nav
{
display: flex;
}

nav ul
{
 list-style-type: none;
 display: flex;
 width: 400px;
 height:70px;
 justify-content:flex-end; 
 font-family: ralewayextralight ;
 margin: 0px 0px; 
}

nav li 
{
  margin-left: 30px; 
  padding-top: 10px;
}

nav span
{
  color:#0065FC; 

}

nav .SS
{
  color:#0065FC; 
  font-family:ralewayextrabold;
}

header li strong i /*Filtres :familial*/
{
    border: 2px solid #DEEBFF;
  border-radius:25px;
  padding: 13px 15px 12px 15px;
}

header li strong  /*Filtres :familial*/
{
    border-top:2px solid #F2F2F2;
  border-right:2px solid #F2F2F2;
  border-bottom:2px solid #F2F2F2;
  border-radius: 25px;
  padding: 10px 10px 10px 0px;
  font-size: 17px;
  font-style: normal;
  font-family:ralewayextrabold;
}
/*li mark i  /*Filtres :Economique
{
    border-radius: 25px;
  padding: 13px 10px 11px 10px;
  font-size: 13px;
}
/*li mark /*Filtres :Economique
{
 border-top: 1.5px solid #F2F2F2;
  border-right:1.5px solid #F2F2F2;
  border-bottom:1.5px solid #F2F2F2; 
  border-radius: 25px;
  padding:10px 10px 9px 10px; 
  font-size: 16px;
  font-style: normal;
  background-color: white;
  margin:0px 7px 0px 45px;
  font-family:ralewayextrabold;
}
*/

nav a
{
  font-size: 15px;
  color: #181818;
  text-decoration: none;
  justify-content:space-between;
  margin-top:35px;
  padding: 10px;
}

nav ul:hover 
{
  border-top: 3px solid white;
}

nav li:hover
{
  border-top: 3px solid #0065FC;
  text-align: center;
}



header p
{
  font-size: 17px;
  font-family: ralewayextralight;
}

header i 
{
  color:#0065FC;
}

.info
{
  display: flex;
  height: 30px;
}

.info p
{
  margin-top: 2px;
  margin-left: 5px;
}

.info i
{
  border:1px solid #F2F2F2;
  border-radius: 25px;
  margin: 0px 5px 5px 0px;
  padding:6px 9px 6px 9px;
  font-size: 10px;
  background-color: white;
}


/*Section de page*/
.hebergement
{
width: auto;
display: flex;
justify-content:space-between;
flex-wrap:wrap-reverse;
}
.hebergement_6 h2
{
 margin: 40px 0px 0px 55px;
 font-family: ralewayextrabold;
 font-size: 1.4em;
}

.hebergement_6
{
  background-color: #F2F2F2;
  width: auto;
  height: auto;
  border:2px solid #F2F2F2;
  border-radius:25px; 
  margin: 32px 0px 0px 0px;
}

.grande_box img
{
  width: 240px;
  height:100px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
 }

 .grande_box em
 {
  font-family: ralewayextralight;
  font-style: normal;
  font-size: 13px;
 }

.grande_box strong
{
font-family: ralewayextrabold;
}

.grande_box
{
  display: flex;
  text-align: center;
  margin: auto;
  justify-content:space-between;
  margin-bottom: 40px;
  flex-wrap:wrap;  
  margin-left: 30px;
  margin-right:30px;  
}

.grande_box figure
{
  width: 240px;  
  border: 2px solid white;
  border-radius: 10px 10px 10px 10px ;
  margin: 40px 15px 0px 15px;
  padding: 3px;
  background-color: white;  
  box-shadow: 1px 4px 10px grey;
  font-family:ralewaysemibold;
}

.hebergement_6 figcaption
{
  padding-top: 5px;
  padding-left: 5px;
}

.texte3 span
{
 margin: 200px 0px 0px 55px;
 font-family: ralewayextrabold;
 font-size: 1em;
}

.carte_hebergement_1, .carte_hebergement_2, .carte_hebergement_3
{
  margin-left:auto;
  margin-right:auto;
}

.chambre1, .chambre2, .chambre3, .chambre4, .chambre5, .chambre6
{
    text-align: left;
}

.hebergement_6 i
{
  color: #0065FC;
  font-size: 13px;
  margin-top: 5px;
}

.hebergement_6 span i
{
  color: #F2F2F2;
  font-size: 13px;
  margin-top: 5px;
}

/*photo sur le coté*/
.hebergement_populaire
{
    display: flex;
    flex-direction:column;
    width: auto;
    height: auto;
    background-color: #F2F2F2 ;
    border-radius: 25px; 
    margin-top: 32px;
    padding-left: 2%;
    padding-right: 2%;
}

.hebergement_populaire img
{
    width: 120px;
    height: 120px;
    padding-bottom:0px;
    margin-bottom: 0px;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}

.hebergement_populaire p
{
 font-size: 1.4em;
}

.hebergement_populaire strong
{
font-family: ralewayextrabold;
}

.hebergement_populaire h2
{
 margin: 40px 0px 0px 0px;
 font-family: ralewayextrabold;
 font-size: 1.4em;
}

.titre
{
  display: flex;
  justify-content:space-between;
  width:auto;
}

.PP
{
  padding-left: 0px;
}
.chartline
{
  width:auto;
  padding-right: 0px;
  margin-top:40px;
}

.chartline i
{
  font-size: 25px
}

.carte_populaire_
{
margin-top: 42px;
margin-bottom:40px; 
}

.carte_populaire_ em
{
  font-family:"ralewayextralight";
  font-style:normal;
}

.chambre_populaire_1, .chambre_populaire_2, .chambre_populaire_3
{
display: flex;
width:330px;
height: 120px;
box-shadow: 1px 4px 10px grey;
padding: 3px;
border: 2px solid white;
border-radius:10px 10px 10px 10px; 
margin-bottom:30px;
background-color:white;
margin-left:auto; 
margin-right:auto;
} 

.chambre_populaire_1 figcaption, .chambre_populaire_2 figcaption, .chambre_populaire_3 figcaption
{
  font-size: 15px;
  text-align: left;
  margin-left: 15px;
  margin-top: 15px; 
  display: flex;
}

.textecoté
{
padding-top:10px;
padding-left:10px;
}

.chambre_populaire_1 em, .chambre_populaire_2 em, .chambre_populaire_3 em
{
  font-size: 12px;
}

.chambre_populaire_1 i, .chambre_populaire_2 i, .chambre_populaire_3 i
{
  margin-top:43px;
  text-align: left ;
  font-size: 10px;
  color: #0065FC ;
} 

.hebergement_populaire [title="grey"]
{
  color:#F2F2F2;
}


/*Section activité*/

.activité
{
border:2px solid white;
width:auto;
height:auto;
display: flex;
flex-direction:column;
}

.texte 
{
 margin-top: 60px;
 margin-left:0px;
 font-family: ralewayextrabold;
 font-size: 1.4em;
}

.Marseille figure
{
  border: 0px solid white;
  border-radius: 10px 10px 10px 10px ;
  margin: 30px 0px 45px 0px;
  padding: 0px 0px 0px 0px;
  background-color: white;  
  box-shadow: 1px 4px 10px grey;
  width: 300px;
}

.Photo_Marseille1, .Photo_Marseille2, .Photo_Marseille3, .Photo_Marseille4
{
  width: auto; 
}

.Marseille
{
display:flex;
flex-wrap:wrap;
justify-content:space-between;
}

.activité img
{
 width: 300px;
 height: 340px;
 border-radius: 8px 8px 0px 0px ;
 object-fit: cover;
}

.Pomegues img
{
  width: 300px;
    height:147px;
}

.Frioul img
{
width: 300px;
height:95px;
}

.NDG img
{
    width: 300px;
    height:110px;
}

.Longchamps img
{
    width: 300px;
    height:132.5px;
}

.Marseille p
{
padding: 0px 10px 10px 10px;
font-family: ralewayextrabold;
}
/*Footer*/
footer
{
  height:auto;
  background-color:#F2F2F2;
  width:100%;
}

.fin
{
  margin:0 auto;
  display:flex;
  max-width:1354px;
  justify-content:space-between;
  flex-wrap:wrap; 
  padding-left:3%; 
  padding-right:3%;
}

.A_propos, .Carte, .Assistance
{
  justify-content:flex-start; 
  width: auto;
}

.A_propos ul, .Carte ul, .Assistance ul
{
  text-align: left;
  padding:0px;
} 

.A_propos li, .Carte li, .Assistance li
{
list-style-type:none;
font-size: 15px;
font-family: ralewayextralight;
padding-top:5px;
margin-top:5px;
}

.A_propos li strong, .Carte li strong, .Assistance li strong
{
font-size: 17px;
font-family: ralewayextrabold;
}

.fin ul :hover
{
color:blue;
}

/*Lien-Cliquable*/  
a
{
color: black;
text-decoration: none;
}










@media screen and (max-width: 375px)
/**https://meet.google.com/ohq-jqvj-zie**/
{
    #bloc_page
{
   
}
#bloc_page
{
  max-width: 375px;
 margin: 0 auto;
 padding: 0px;
}

      body
      {
      max-width: 375px;
      margin: 0px;
      margin: 0 auto;
      }

      header h2
      {
        max-width: 310px;  
        margin-top: 30px;
        margin-left:auto;
        margin-right:auto;
        padding-left:20px; 
      padding-right:20px;
      }
      h3
      {
      max-width:310px;
      margin-left:auto;
      margin-right:auto;
      padding-left:20px; 
      padding-right:20px;
      }

      .Menu
      {
      flex-direction:column;
      display: none;
      }

      .Menu2
      {
       width: 100%;
        display: flex;
        flex-wrap:wrap;
      }

      .Menu2 .R
      {
        width: 50%;
        height: 50px;
      }

      .R img
      {
        width:100px;
        height: 50px;
        padding-top: 10px;
        padding-left:15%;
      }

      .SS2
      {
        width: 50%;
        height: 50px;
      }

      .SS2 p
      {
        text-align: right;
        padding-top: 10px;
        padding-right: 30px;
        font-family: ralewayextrabold;
        color:#0065FC
      }

      .H
      {
       width: 50%; 
        height: 40px;
        border-bottom: 2px solid #0065FC;
        padding-top: 10px;
      }

      .H p
      {
        text-align: center; 
        color: #0065FC;  
        font-size: 15px;

      }

      .A
      {
        width: 50%;
        border-bottom: 2px solid #F2F2F2;
        height: 40px;
        padding-top: 10px;
      }

      .A p
      {
        text-align: center; 
        font-size: 15px;
      }

      form
      {
      width: 90%;
      margin-left:auto; 
      margin-right:auto;
      }

      form p
      {
      width: 95%;
      }

      input
      {
      width: 81%;
      }

      .bouton
      {
      display: none;
      }

      form span
      {
      visibility:visible;
      width:45px;
      }
      form span i
      {
       margin-left:13px;
      }

      .filtres
      {
      width: 85%;
      margin-left: auto;
      margin-right:auto;
      }

      .F
      {
      width: 150px;
      }

      .filtres span
      {
      width: 150px;
      }

      .filtres ul
      { 
      height: 240px;
      margin-left:0px;
      margin-right:0px;
      margin-top:0px;
      margin-bottom: 10px;
      padding-left: 0px;

      flex-wrap:wrap;
      }

       .filtres li
      {
      height: 50px;
      margin-left:0px;
      justify-content:flex-start;
      }

      .info
      { 
      width:auto;
      margin-right:auto;
      margin-left: auto;
      margin-bottom:30px;
      }

      .info p
      {
      font-size: 14px;
      }

      .hebergement
      {
      width: 100%;
      margin-left:auto;
      margin-right:auto;
      background-color:#F2F2F2;
      }

      .grande_box
      {
      width: auto;
      margin: 0px;
      padding:0px;
      }
       
      .hebergement_6:nth-child(1)
      {
        width: 100%;
        background-color: white;
        border:1px solid white;
        max-width:100%;
        flex-direction:column;
        margin-left:auto;
        margin-right:auto;
        border-radius:0px;
      }

      .hebergement_6 h2
      {
        width: auto;
        margin-left:25px;
        margin-bottom: 20px;
        font-size: 20px; 
      }

      .grande_box 
      {
        display: flex;
        flex-direction:column;
        width: 100%;
        margin: 0px; 
      }

      .grande_box img
      {
        width: 100%;
      }

      .grande_box figure
      {
        padding: 3px;
        margin-top: 0px;
        margin-bottom:20px ;
        width: 85%;
        margin-left:auto;
        margin-right:auto;
      }

      .carte_hebergement_1, .carte_hebergement_2, .carte_hebergement_3
      {
       width: 100%;
      }

      .hebergement_6 .texte3 span
      {
        margin-left: 25px;
        margin-right: auto;
      }

      .carte_populaire_
      {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left:0px;
        padding-right:0px;
      }

      .hebergement_populaire:nth-child(2)
      {
        width: 375px;
        max-width:100%;
        border-radius: 0px;
        background-color: #F2F2F2;
        padding-left:0px;
        padding-right:0px;
      }

      .hebergement_populaire h2
      {
       width: auto;
       margin-left:auto;
       margin-right: auto;
       margin-bottom: 20px;
       font-size: 20px; 
      }
      .PP
      {
        padding-left:25px;
      }
      .chartline
      {
        margin-right: 25px;
      }

      .hebergement_populaire h2 i
      {
        
      }

      .chambre_populaire_1, .chambre_populaire_2, .chambre_populaire_3
      {
      width: 85%;
      height: 25%;
      background-color: white;
      }
      .chambre_populaire_1 i, .chambre_populaire_2 i, .chambre_populaire_3 i
      {
      margin-top:55px;
      
      } 

      .chambre_populaire_1 img, .chambre_populaire_2 img, .chambre_populaire_3 img
      {
      width: 120px;
      height: 130px;
      }
      .chambre_populaire_1 figure, .chambre_populaire_2 figure, .chambre_populaire_3 figure
      {   
      margin-top: 0px;
      margin:0px
      }

      .activité
      {
       max-width:375px;
      }

      .activité h2
      {
      width: auto;
      margin-top: 40px;
      margin-bottom: 20px;
      margin-left:25px;
      font-size: 20px; 
      }

      .Marseille
      {
      display: flex;
      flex-direction:column;
      width: auto;
      }

      .Marseille img
      {
      width: 100%;
      height: 140px;
      }
      .Marseille figure 
      {
      width: 85%;
      margin-top: 0px;
      margin-left: auto; 
      margin-right: auto;
      }

      .Photo_Marseille1, .Photo_Marseille2, .Photo_Marseille3, .Photo_Marseille4
      {   
      width: 100%;
      margin-left: auto; 
      margin-right: auto;
      }

      footer
      {
        max-width: 375px;
      }

      .fin
      {
        flex-direction:column;
        margin-left:30px;
        margin-right:30px;
        max-width: 375px;
      }
     
   /**  

      footer
      {
      height: auto;
      background-color: #F2F2F2;
      }
      .fin
      {
      flex-direction:column;
      }
      .colonne1 ul, .colonne2 ul, .colonne3 ul
      {
      width:auto;
      height:150px ;
      margin-left:auto;
      margin-right: auto;
      }
**/

}

 @media screen and (min-width: 899px) and (max-width: 900px) 
{
    #bloc_page
    {
    max-width: 900px;
    margin: 0 auto;
    padding: 2px;
    }

    #logo
    {
    width: 900px
    }

    body
    {
    margin: 0px;
    width: 900px
    }

    .Menu 
    {
     width:830px;
    }

    .Menu nav
    {
    justify-content:flex-start;
    }

    header h2
    {
    width:700px;
    }

    .filtres 
    {
      width: 800px;
    }

    .filtres em
    {
      margin:0px 0px 0px 10px;
    }

    .filtres ul
    {
        padding: 0px 0px 0px 5px; 
    }

    header li strong
    {
      margin:0px 0px 0px 10px;
    }

    .info
    {
      margin-top:0px; 
    }

    .hebergement
    {
    flex-direction:column;
    }

    .hebergement_6:nth-child(1)
    {
      margin: 10px 0px 0px 0px;
      width: 892px;
      
      flex-direction:column;
      order:2;
    }
    .hebergement_6 h2
    {
      margin-left:40px;
    }

    .grande_box
    {
      margin-left:10px;
    }

    .texte3 span
    {
      margin-top: 690px;
      margin-left:40px;
    }

    .hebergement_populaire:nth-child(2)
    {
     height:300px;
     width:896px;
     margin: 20px 0px 0px 0px;
     padding-right: 0px;
     padding-left: 0px;
     order:1;
    }

    .texte2
    {
     margin-top: 10px;
     margin-left: 32px;
    }

    .texte3
    {
      top:520px;
    }
   
    .carte_populaire_
    {
    display: flex;
    margin-left: 0px;
    }

    .carte_populaire_ img
    {
    height: 125px
    }

    .chambre_populaire_1
    {
    margin:0px 0px 0px 0px; 
    width:290px;
    height: 125px;
    padding: 3px;
    }

    .chambre_populaire_2
    {
    margin:0px 3px 0px 3px; 
    width:320px;
    height: 125px;
    padding: 3px
    }

    .chambre_populaire_3
    {
    margin:0px 0px 0px 0px; 
    width: 270px;
    height: 125px;
    padding: 3px; 
    }

    .chambre_populaire_1 i
    {
    margin: 0px 0px 0px 0px;
    }

    .chambre_populaire_2 i
    {
    margin: 0px 0px 0px 0px;
    }

    .chambre_populaire_3 i
    {
    margin: 0px 0px 0px 0px;
    }

    p [alt="star"]
    {
    color: #F2F2F2;
    margin-top: 0px;
    }


    .activité h2
    {
    margin-left:40px;
    width: 400px;
    }

    .activité
    {
    margin-top: 0px;
    width: auto;
    height: auto;  
    }

    .activité img
    {
    width: 182px;
    height: 140px;
    }

    .Frioul img
    {
    width: 182px;
    height: 160px;
    }

    .Longchamps img
    {
    width: 182px;
    height: 160px;
    }

    .PNC img
    {
    width: 182px;
    height: 122px;
    }

    .NDG img
    {
    width: 182px;
    height: 122px;
    }

    .Marseille figure
    {
    width:182px;
    }

    .Marseille
    {
    display: flex;
    margin-left:0px;  
    }

    footer
    {
    margin-top: 0px;
    width: 900px;
    }
}


    














